REMITTER,DEPTOR,BOOKING DATE,STATUS,TYPE,VALUE,UNIT
{{- range .Values}}
"{{holderName .Remitter.HolderName}}","{{.Creditor.HolderName}}",{{.BookingDate}},{{.BookingStatus}},{{.TransactionType.Text}},{{formatAmountValue .Amount}},{{.Amount.Unit}}{{end}}
